<!DOCTYPE html>
<html lang="en">
	<head>
		<title>3D Viewer</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" href="/static/css/gallery.css">
	</head>
	<body>
		<!-- Import maps polyfill -->
		<!-- Remove this when import maps will be widely supported -->
		<script async src="https://unpkg.com/es-module-shims@1.3.6/dist/es-module-shims.js"></script>
		<script type="importmap">
			{
				"imports": {
					"three": "/static/javascript/build/three.module.js"
				}
			}
		</script>

        <nav id="nav">
            <img id="boxLogo" src="/static/res/BOXlogo.png">
            <ul>
                <li><a id="downloadBtn" href="" download>Download</a></li>
                <li><a href="../artifacts/">Return to Gallery</a></li>
            </ul>
        </nav>
        
        <section id="stlViewerBody">
            <div id="viewer">

            </div>
        </section>



		<script type="module">
			import * as THREE from 'three';
			import Stats from '/static/javascript/stats.module.js';
			import { STLLoader } from '/static/javascript/STLLoader.js';
			let container, stats;
			let camera, cameraTarget, scene, renderer;
            const cameraDist = 5;
			init();
			animate();
			function init() {

				container = document.getElementById( 'viewer' );
                

				camera = new THREE.PerspectiveCamera( 55, window.innerWidth / window.innerHeight, .5, 15 );
				camera.position.set( cameraDist, 5, cameraDist );
                

				cameraTarget = new THREE.Vector3( 0, 0.25, 0 );

				scene = new THREE.Scene();
				scene.background = new THREE.Color( 0x72645b );
				scene.fog = new THREE.Fog( 0x72645b, 5, 15 );

				// Ground

				const plane = new THREE.Mesh(
					new THREE.PlaneGeometry( 40, 40 ),
					new THREE.MeshPhongMaterial( { color: 0x999999, specular: 0x101010 } )
				);
				plane.rotation.x = - Math.PI / 2;
				plane.position.y = - 0.5;
				scene.add( plane );

				plane.receiveShadow = true;


				// ASCII file
				const loader = new STLLoader();



				// Binary files
				const material = new THREE.MeshPhongMaterial( { color: 0xAAAAAA, specular: 0x111111, shininess: 200 } );

                // Get model path from URL parameters
                const urlParams = new URLSearchParams(window.location.search);
                const modelPath = urlParams.get('model') || ''; // Fallback path
                
                
                const dlBtn = document.getElementById("downloadBtn")
                dlBtn.href = modelPath

				loader.load( modelPath, function ( geometry ) {

					let meshMaterial = material;

					if ( geometry.hasColors ) {

						meshMaterial = new THREE.MeshPhongMaterial( { opacity: geometry.alpha, vertexColors: true } );

					}

					const mesh = new THREE.Mesh( geometry, meshMaterial );


					mesh.position.set( 0, .3, 0 );
					mesh.rotation.set( -Math.PI/2,0,0 );
					mesh.scale.set( 0.1, 0.1, 0.1 );

					mesh.castShadow = true;
					mesh.receiveShadow = true;

					scene.add( mesh );

				} );



				// Lights

				scene.add( new THREE.HemisphereLight( 0x443333, 0x111122 ) );

				addShadowedLight( 1, 1, 1, 0xffffff, 1.35 );
				addShadowedLight( 0.5, 1, - 1, 0xffaa00, 1 );
				// renderer

				renderer = new THREE.WebGLRenderer( { antialias: true } );
				renderer.setPixelRatio( window.devicePixelRatio );
				renderer.setSize( .95*window.innerWidth, .95*window.innerHeight );
				renderer.outputEncoding = THREE.sRGBEncoding;

				renderer.shadowMap.enabled = true;

				container.appendChild( renderer.domElement );

				// stats

				// stats = new Stats();
				// container.appendChild( stats.dom );
				// 

				window.addEventListener( 'resize', onWindowResize );

			}

			function addShadowedLight( x, y, z, color, intensity ) {

				const directionalLight = new THREE.DirectionalLight( color, intensity );
				directionalLight.position.set( x, y, z );
				scene.add( directionalLight );

				directionalLight.castShadow = true;

				const d = 1;
				directionalLight.shadow.camera.left = - d;
				directionalLight.shadow.camera.right = d;
				directionalLight.shadow.camera.top = d;
				directionalLight.shadow.camera.bottom = - d;

				directionalLight.shadow.camera.near = 1;
				directionalLight.shadow.camera.far = 4;

				directionalLight.shadow.bias = - 0.002;

			}

			function onWindowResize() {

				camera.aspect = (window.innerWidth) / (window.innerHeight);
				camera.updateProjectionMatrix();

				renderer.setSize( .95*window.innerWidth, .95*window.innerHeight );

			}

			function animate() {

				requestAnimationFrame( animate );

				render();
				// stats.update();

			}

			function render() {

				const timer = Date.now() * 0.0005;

				camera.position.x = Math.cos( timer ) * cameraDist;
				camera.position.z = Math.sin( timer ) * cameraDist;

				camera.lookAt( cameraTarget );

				renderer.render( scene, camera );

			}
		</script>

        <footer id="footerFlex">
            <div id="footerFlex2">
                <div id="footerImg">
                    <img id="footerLogo" src="/static/res/AIB Final Logo.png">
                </div>
                <div id="footerInfo">
                    <p id="contact">Contact Us<br><a id="email" href="#">email@example.com</a></p>
                </div>
            </div>
        </footer>
	</body>
</html>
